{% extends "usuarios/layout.html" %}

{% block body %}

{% csrf_token %}
<style>
    #h1Despesas {
        text-align: center;
        color: rgb(238, 238, 238);
        font-size: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #divPrincipal {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: rgb(19, 75, 112);
        border-radius: 15px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 10px;
        height: 600px;
        margin-bottom: 20px;
        overflow: auto;
        box-shadow: 0 15px 25px rgba(14, 25, 27, 0.507);
    }

    #tabprincipal {
        border-collapse: collapse;
        background-color: rgb(238, 238, 238);
        border: 1px solid rgb(80, 140, 155);
        border-radius: 10px;
        overflow: hidden;
        margin-left: 10px;
        box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.1);
        box-sizing: border-box;
    }

    th, td {
        border: 1px solid rgb(4, 176, 255);
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: rgb(167, 209, 237);
    }

    #tr_criar_gasto:hover{
        background-color: rgba(246, 208, 131, 0.378);
    }    

    #formGastos2 {
        align-self: flex-start;
        width: 300px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 10px;
        padding-top: 5px;
    }

    #adicionarSaldo, #buttonConsultar{
        background-color: rgb(82, 97, 237);
        color: whitesmoke;
        cursor: pointer;
    }
    button, select{
        background-color: rgb(255, 255, 255);
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px;
        box-sizing: border-box;
        cursor: pointer;
        
    }

    .inputformAdicionarSaldo{
        background-color: rgb(255, 255, 255);
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px;
        box-sizing: border-box;
    }

    .total{
        background-color: rgb(157, 175, 242);
        color: rgb(34, 136, 11);
    }
    
    .h3Info{
        color: rgb(0, 21, 255);
    }

    #deletarDados{
            background-color: rgb(228, 84, 84);
            color: white;
        }
    
    #TestBackGround, #FORMbackground{
        background-color: rgba(255, 145, 0, 0.186);
        padding: 5px;
        border-radius: 10px;
    }

    
</style>

<h1 id="h1Despesas">Receitas</h1>
    <div id="divPrincipal">
        <div id="formGastos2">
            <h3 class="h3Info">Filtrar pela data:</h3>

            <form id="FORMbackground" method="post">
                {% csrf_token %}
                <label for="data_inicial_formatada">Selecione uma data:</label>
                <select name="data_inicial_formatada" id="data_inicial_formatada">
                    <option>Selecione uma data</option>
                    {% for data in datas_disponiveis %}
                        <option value="{{ data }}">{{ data }}</option>
                    {% endfor %}
                </select>
                <button id="buttonConsultar" name="consultaMensal" type="submit">Consultar</button>
            </form>
        </div>
        <form method="POST" id="formTabela" action="{% url 'AdicionarSaldo' %}">
            {% csrf_token %}
                <input type="hidden" name="deletar_selecionados" id="idsParaDeletar" value="">
            <div>
            <table id="tabprincipal">
                <thead>
                    <tr>
                        <th>Selecionar</th>
                        <th>Origem</th>
                        <th>Valor</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrada in entradadinheiro %}
                        <tr id="tr_criar_gasto">
                            <td><input type="checkbox" name="deletar" value="{{ entrada.id }}"></td>
                            <td>{{ entrada.origem }}</td>
                            <td>R$ {{ entrada.valor_de_entrada }}</td>
                            <td>{{ entrada.DataEntradaSaldo }}</td>
                        </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">Nenhuma data selecionada.</td>
                            </tr>
                    {% endfor %}
                    <td class="total" colspan="3"><strong>Total</strong></td>
                    <td class="total"><strong>R$ {{ total_entrada|floatformat:2 }}</strong></td>
                </tbody>
            </table>
        </form>
        </div>

        <div id="formGastos2">
            <h3 class="h3Info">Adicionar receita:</h3>

            <form id="TestBackGround" method="post">
                {% csrf_token %}
                <input class="inputformAdicionarSaldo" type="text" name="Origem" placeholder="Digite a origem da receita" required>
                <input class="inputformAdicionarSaldo" type="number" name="saldo" value="AdicionarSaldo" placeholder="Adicione o valor da receita" required  max="1000000" step="0.01">
                <label>Selecione uma data:</label>
                <input class="inputformAdicionarSaldo" type="month" name="DataEntradaSaldo" placeholder="Adicione a data de entrada do saldo" required>
                <button id="adicionarSaldo" type="submit" name="AdicionarSaldo">Adicionar receita</button>
                <button type="submit" id="deletarDados">Deletar</button>
            </form>
            

        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("PaginatualAdicionarSaldo").removeAttribute("href");
            document.getElementById("PaginatualAdicionarSaldo").style.color = "black";
            document.getElementById("PaginatualAdicionarSaldo").style.border = "1px solid rgb(255, 255, 255)"
            document.getElementById("PaginatualAdicionarSaldo").style.padding = "4px";
            document.getElementById("PaginatualAdicionarSaldo").style.borderRadius = "5px"
            document.getElementById("PaginatualAdicionarSaldo").style.backgroundColor = "white";

            document.getElementById("Logout").addEventListener("click", function(event){
            event.preventDefault();
            if (confirm("Você deseja realizar o log out?")){
                window.location.href = "{% url 'logout' %}";
            }
            }) 

            document.getElementById("deletarDados").addEventListener("click", function(event) {
            event.preventDefault();
            if (confirm(`Você tem certeza que deseja apagar?`)) {
                const checkboxes = document.querySelectorAll('input[name="deletar"]:checked');
            let ids = [];
                checkboxes.forEach(function(checkbox) {
                ids.push(checkbox.value);
            });
            document.getElementById("idsParaDeletar").value = ids.join(',');
                document.getElementById("formTabela").submit();

            alert("A exclusão foi realizada com sucesso!")
            }else {
                alert("Ação cancelada!");
            }});
        });

        
    </script>

{% endblock %}