{% extends "usuarios/layout2.html" %}

{% block body %}

    <style>
        body, html {
            font-family: Arial;
            height: 100%;
            display: grid;
            justify-content: center;
            align-items: center;
            background-color: rgb(32, 30, 67);
        }

        .caixaLogin {
            width: 300px;
            padding: 40px;
            background: #fff;
            box-shadow: 0 15px 25px rgb(108, 194, 205);
            border-radius: 10px;
            text-align: center;
        }

        .inputTexto {
            margin-bottom: 30px;
        }

        .inputTexto input {
            width: 94%;
            padding: 10px;
            background: #f0f0f0;
            border: none;
            outline: none;
            color: #333;
            font-size: 16px;
            border-radius: 5px;
        }

        #botao {
            width: 90%;
            background: #333;
            padding: 10px;
            cursor: pointer;
            font-size: 18px;
            color: #fff;
            border-radius: 5px;
            transition: background 0.3s;
            margin-bottom: 20px;
        }

        #botao:hover {
            background: #8c9c9f;
        }

        #login {
            color: rgb(13, 19, 128);
            size: 50px;
        }

        .erro {
            color: red;
            margin-bottom: 20px;
        }
    </style>

<div class="caixaLogin">
    <h2>Cadastre-se</h2>
    
    {% if erro %}
        <div class="erro">{{ erro }}</div>
    {% endif %}

    <div class="inputTexto">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="botao" type="submit">Registrar</button>
        </form>
    </div>
    
    <a id="login" href="{% url 'login' %}">Login</a>
</div>

{% endblock %}
